<h1>
  About Centerology
</h1>
<p>
  Being a centerologist is more than bookmarking images, it is way of communicating through your findings.
  It is about following your own sense of aesthetics, while observing and respecting that of others.
  The goal is to combine our findings through this medium, and somehow create more than a stream of imagery.
  Below is a list of similar sites, if you cannot find your center here, try one of these...
  <ul>
    <li>
      <a href="http://ffffound.com/">http://ffffound.com/</a>
    </li>
    <li>
      <a href="http://weheartit.com/">http://weheartit.com/</a>
    </li>
    <li>
      <a href="http://vi.sualize.us/">http://vi.sualize.us/</a>
    </li>
    <li>
      <a href="http://www.typeish.com/">http://www.typeish.com/</a>
    </li>
    <li>
      <a href="http://picfor.me/">http://picfor.me/</a>
    </li>
    <li>
      <a href="http://www.photoree.com/">http://www.photoree.com/</a>
    </li>
  </ul>
</p>


