<html>
  <head>
    <style>
ul { list-style: none; }
img { border: 0; }

      .css1 { font-size: 1.0em; }
      .css2 { font-size: 1.2em; }
      .css3 { font-size: 1.4em; }
      .css4 { font-size: 1.6em; }

.errorExplanation {
  background-color:#ffcccc;
  border: 2px solid red;
  vertical-align:top;
  padding: 10px;
}
 
.errorExplanation h2 {
  color: maroon;
  margin: 0;
}
 
.errorExplanation ul li {
  list-style: square;
}
 
.fieldWithErrors input[type="text"],
.fieldWithErrors input[type="password"] {
  background-color: yellow;
}
 
.success {
  border: 2px solid green;
  background-color: #ccffcc;
  padding: 10px;
}

    </style>
  </head>
  <body>
    <%=@content_for_layout %>
  </body>
</html>
