<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Centerology</title>
    <style type="text/css">
      a { text-decoration: none; outline: none; }
      a:active { outline: none; }
      div,li,h1,h2,p,a { font-family: serif; margin: 0; padding: 0; }
      ul { list-style: none; margin: 0 0 0 0; padding: 0; }
      img { border: 0; }
      label { clear: right; display: block; }
      form li, p { margin: 0 0 0.5em 0; }
      .errorExplanation { margin: 0 0 1em 0; background-color:#ffcccc; border: 2px solid red; vertical-align:top; padding: 10px; }
      .errorExplanation h2 { color: maroon; margin: 0; }
      .errorExplanation ul li { list-style: square; margin: 0 0 0 1em; }
      .fieldWithErrors input[type="text"], .fieldWithErrors input[type="password"] { background-color: yellow; }
      .success { border: 2px solid green; background-color: #ccffcc; padding: 0.5em; margin: 0.5em 0 0.5em 0; }
      .notice { border: 2px solid gold; background-color: yellow; padding: 0.5em; margin: 0.5em 0 0.5em 0; }
      .image { float: left; margin: 0 0 1em 0; }
      .imagewrapper { clear: both; margin: 0 0 3em 0; }
      .primary { width: 400px; margin: 0 1em 0 0; float: left; }
      .similar { border-left: 1px solid #c3c3c3; margin: 0 0 2em 2em; padding: 0 1em 0 3em; float: left; }
      .pagination { clear: both; }
      <% cloud_classes.each_with_index { |cloud_class, i| %>
        .<%=cloud_class%> { font-size: <%=(Math.log((i+1)*5) * 25)%>%; }
      <% } %>
      .completions { border: 2px solid #c3c3c3; background: white; }
      .completions li { padding: 0.25em; } 
      .selected { background-color: #c3c3c3; }
      .tag { padding: 0.25em; }
      .findings li { display: inline; }
      .findings li img { margin: 1em; vertical-align: middle; }
      #header { margin: 0 0 0 0; }
      #header h1 { padding: 0px 0 70px 140px; background: url(/images/logo.png) no-repeat top left; } 
      #header ul { float: right; margin: 0 0 0 0; }
      #header li { display: inline; }
      #sidebar { width: 18%; float: left; }
      #sidebar ul { margin: 0 0 1em 0; }
      #ads { margin: 0 0 0 0; }
      #content { width: 81%; float: right; }
      #footer { padding: 1em 0 0.25em 0; clear: both; }
      #footer p { border-top: 1px solid #c3c3c3; text-align: right; padding: 0.25em; }
      #current_persons_tags li { display: inline; }
      .pagination { background: white; }
      .pagination a, .pagination span { padding: .2em .5em; display: block; float: left; margin-right: 1px; }
      .pagination span.disabled { border: 1px solid black; }
      .pagination span.current { font-weight: bold; background: #c3c3c3; color: white; border: 1px solid black; }
      .pagination a { text-decoration: none; color: black; border: 1px solid #c3c3c3; }
      .pagination a:hover, .pagination a:focus { color: black; border-color: black; }
      .pagination:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
      * html .pagination { height: 1%; }
      *:first-child+html .pagination { overflow: hidden; }
    </style>
    <%=javascript_include_tag(:defaults)%>
    <%=auto_discovery_link_tag(:rss, rss_feed_url(@feeder)) if @feeder%>
  </head>
  <body>
    <div id="header">
      <% if current_person then %>
        <ul>
          <li>
            your
          </li>
          <li>
            <%=link_to(:feed, feed_url(:nickname => current_person))%>
          </li>
          <li>
            and
          </li>
          <li>
            <%=link_to(:findings, findings_url)%>
          </li>
        </ul>
      <% else %>
        <ul>
          <li>
            <%=link_to(:login, login_url)%>
          </li>
          <li>
            or
          </li>
          <li>
            <%=link_to(:register, register_url)%>
          </li>
        </ul>
      <% end %>
      <h1>
        <%= yield :tagline %>

      </h1>
    </div>
    <div id="wrapper">
      <div id="sidebar">
        <ul>
          <li>
            <h2>
              Active People
            </h2>
          </li>
          <% recent_people.each { |person| %>
            <li>
              <%=link_to(person, feed_url(:nickname => person))%>
              <%=person.images.count%>
            </li>
          <% } %>
        </ul>
        <ul>
          <li>
            <h2>
              Sponsored By
            </h2>
          </li>
          <li id="ads">
            <%=render :partial => "shared/adsense"%>
          </li>
        </ul>
      </div>
      <div id="content">
        <%=render :partial => 'shared/flash' %>
        <%=@content_for_layout %>
      </div>
    </div>
    <div id="footer">
      <p>
        &copy; 2008 <%=link_to("Land of the Rising Code", "http://risingcode.com")%>
      </p>
    </div>
    <%=render :partial => "shared/urchin"%>
  </body>
</html>
