<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Centerology</title>
    <style type="text/css">
      a { text-decoration: none; }
      div,li,h1,h2,p,a { font-family: serif; margin: 0; padding: 0; }
      ul { list-style: none; margin: 0; padding: 0; }
      img { border: 0; }
      label { clear: right; display: block; }
      form li, p { margin: 0 0 0.5em 0; }
      .errorExplanation { margin: 0 0 1em 0; background-color:#ffcccc; border: 2px solid red; vertical-align:top; padding: 10px; }
      .errorExplanation h2 { color: maroon; margin: 0; }
      .errorExplanation ul li { list-style: square; margin: 0 0 0 1em; }
      .fieldWithErrors input[type="text"], .fieldWithErrors input[type="password"] { background-color: yellow; }
      .success { border: 2px solid green; background-color: #ccffcc; padding: 0.5em; margin: 0.5em 0 0.5em 0; }
      .notice { border: 2px solid gold; background-color: yellow; padding: 0.5em; margin: 0.5em 0 0.5em 0; }
      .image { float: left; margin: 0 0 1em 0; }
      .imagewrapper { clear: both; margin: 0 0 3em 0; }
      .primary { width: 400px; margin: 0 1em 0 0; float: left; }
      .similar { border-left: 1px solid #c3c3c3; margin: 0 0 2em 2em; padding: 0 1em 0 3em; float: left; }
      .pagination { clear: both; }
      .css1 { font-size: 1.0em; }
      .css2 { font-size: 1.2em; }
      .css3 { font-size: 1.4em; }
      .css4 { font-size: 1.6em; }
      #header { margin: 0 0 0 0; }
      #header h1 { padding: 0px 0 70px 140px; background: url(/images/logo.png) no-repeat top left; } 
      #header ul { float: right; margin: 0 0 0 0; }
      #header li { display: inline; }
      #sidebar { width: 18%; float: left;}
      #ads { margin: 5em 0 0 0; }
      #content { width: 81%; float: right; }
      #footer { padding: 1em 0 0.25 0; clear: both; }
      #footer p { border-top: 1px solid #c3c3c3; text-align: right; padding: 0.25em; }
      #feed li { display: inline; }
    </style>
  </head>
  <body>
    <%=@content_for_layout %>
    <%=render :partial => "shared/urchin"%>
  </body>
</html>
